#for page not found
ErrorDocument 404 /pms/public/404.php
ErrorDocument 403 /pms/public/403.php

#Prevent directory listing in all  of my folder

IndexIgnore *
Options -Indexes
#make pages rend without their extension

Options +MultiViews
